<!DOCTYPE html>
<html>
  <head>
    <style>
    * {
      font-family: helvetica;
    }
    form {
      display: flex;
      margin-top: 6em;
      margin-bottom: 4em;
    }
    form > button {
      display: none;
    }
    #main-wrapper {
      width: 70%;
      max-width: 50em;
      margin: auto;
    }
    #search-wrapper {
      flex: 1;
      padding: 5px 8px 0 16px;
      border: 1px solid #dfe1e5;
      border-radius: 4px;
    }
    input[type=text] {
      width: 100%;
      font-size: 16px;
      line-height: 34px;
      height: 34px;
      border: none;
      outline: none;
    }
    b {
      color: rgb(237, 93, 64);
    }
    p {
      margin: .5em 0 .5em 0;
    }
    .result {
      padding: 1em;
      border-radius: 3px;
    }
    .result:nth-child(even) {
      background: rgb(249, 249, 249);
    }
    .result > p {
      color: #565656;
    }
    .result > a {
      color: tomato;
    }
    </style>
    <meta charset="UTF-8">
    <title>STFS</title>
  </head>
  <body>
    <div id="main-wrapper">
      <div>
        <form>
          <div id="search-wrapper">
            <input autofocus type="text" name="q" placeholder="Start typing and press enter to search..." value="<%= @query %>" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value">
          </div>
          <button type="submit">Search</button>
        </form>
      </div>
      <% if @episodes.empty? && !@query.nil? %>
        <h2><%= "There are no search results for '#{@query}'"%></h2>
      <% else %>
        <div id="results-wrapper">
          <% @episodes.each do |episode| %>
            <div class="result">
              <h3><%= episode.title %></h3>
              <p><%= episode.description %></p>
              <a href="<%= episode.url %>" target="_blank">original blogpost ⬈</a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
