<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STFS</title>
    <link rel="stylesheet" href="assets/index.css">
  </head>
  <body class="flex flex-col min-h-screen">
    <div id="main-wrapper" class="flex-grow">
      <div>
        <form>
          <div id="search-wrapper">
            <input autofocus type="text" name="q" placeholder="Start typing and press enter to search..." value="<%= query %>" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value">
          </div>
          <button type="submit">Search</button>
        </form>
      </div>
      <% if episodes.empty? && !query.empty? %>
        <h2><%= "There are no search results for '#{query}'"%></h2>
      <% else %>
        <div id="results-wrapper">
          <% episodes.each do |episode| %>
            <div class="result">
              <h3><%= episode.title %></h3>
              <p><%= episode.transcript %></p>
              <a href="<%= episode.show_notes_url %>" target="_blank">Show Notes ⬈</a>
            </div>
          <% end %>
        </div>
        <% if episodes.count == 10 %>
          <div class="flex justify-center mb-8">
            <% if current_page > 1 %>
              <a class="mr-4" href=<%= "/?q=#{CGI.escape(query)}&page=#{current_page - 1}" %>>Prev</a>
            <% end %>
            <a href=<%= "/?q=#{CGI.escape(query)}&page=#{current_page + 1}" %>>Next</a>
          </div>
        <% end %>
      <% end %>
    </div>
    <footer class="flex justify-between text-sm text-gray-800">
      <div>
        <p><span>last episode added: </span><span class="text-gray-600">Morgan Spurlock: Inside the Mind of a Human Guinea Pig (#150)</span></p>
      </div>
      <div>
        <p class="inline-block">made by</p><span><a class="text-gray-600" href="https://github.com/mmlkrx" target="_blank"> mmlkrx</a></span>
      </div>
    </footer>
  </body>
</html>
