<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STFS</title>
    <link rel="stylesheet" href="assets/index.css">
  </head>
  <body>
    <div id="main-wrapper">
      <div>
        <form>
          <div id="search-wrapper">
            <input autofocus type="text" name="q" placeholder="Start typing and press enter to search..." value="<%= query %>" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value">
          </div>
          <button type="submit">Search</button>
        </form>
      </div>
      <% if episodes.empty? && !query.nil? %>
        <h2><%= "There are no search results for '#{query}'"%></h2>
      <% else %>
        <div id="results-wrapper">
          <% episodes.each do |episode| %>
            <div class="result">
              <h3><%= episode.title %></h3>
              <p><%= episode.transcript %></p>
              <a href="<%= episode.show_notes_url %>" target="_blank">original blogpost ⬈</a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
